<nav>
  <ul class="pagination pull-left">
    <li class="<%= 'disabled' if @paginator.on_first_page? %>">
      <a href="<%= @paginator.prev_page_path %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <% @paginator.pages.each do |page| %>
      <li class="<%= 'active' if page.current? %>">
        <a href="<%= page.path %>">
          <%= page.num %>
        </a>
      </li>
    <% end %>
    
    <li class="<%= 'disabled' if @paginator.on_last_page? %>">
      <a href="<%= @paginator.next_page_path %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>

  <p class="pagination-stats pull-left">
    Showing <%= @paginator.from %>
    to <%= @paginator.to %>
    of <%= @paginator.count %>
  </p>
</nav>