<ul class="nav nav-stacked nav-pills">
  <li role="presentation" class="<%= "active" if current_view? :tutorials %>">
    <a href="/tutorials">Introduction</a>
  </li>

  <% @pages.each do |page| %>
    <li role="presentation" class="<%= "active" if page.slug == params["slug"] %>">
      <a href="/tutorials/<%= page.slug %>">
        <%= page.title %>
      </a>

      <% if page.current? params["slug"] %>
        <ul class="nav nav-stacked nav-pills">
          <% PageDecorator.wrap(page.sub_pages).each do |sub_page| %>
            <li class="<%= "active" if sub_page.current? params["slug"] %>">
              <a href="/tutorials/<%= sub_page.slug %>">
                <%= sub_page.title %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>