<h1>
  Hello from home
</h1>
<hr>

<p><%= @msg %></p>

<ul>
  <% @users.each do |user| %>
    <li>
      <h2><%= user.username %></h2>
      <p><%= user.email %></p>
      <pre>
        ID: <%= user.id %>
        HASHED_PASSWORD: <%= user.hashed_password %>
      </pre>
    </li>
  <% end %>
</ul>

<hr>

End
