<h1><%= response.info %></h1>

<p><%= @controller_class.name %>#<%= @action %></p>

<p>
  <code>
    <%= @error.class %> <%= Kwipper.html_escape @error.message %>
  </code>
</p>

<pre>
<%= @error.backtrace.map { |line| Kwipper.html_escape line }.join "\n" %>
</pre>

<p>Params:</p>

<pre>
<%= params.pretty_inspect %>
</pre>