<h1><%= @post.username %></h1>
<p>
  <span class="fa fa-clock-o">&nbsp;</span>
  <%= @post.created_at %>
</p>

<div class="well">
  <%= @post.content %>
</div>

<div class="btn-group pull-right">
  <% if current_user %>
    <%= render "shared/fave_button", post: @post %>
    <%= render "shared/reply_button", post: @post %>
  <% end %>
</div>

<% if @comments.empty? %>
  <h2>No Comments</h2>
<% else %>
  <h2>Comments</h2>

  <ul class="list-unstyled">
    <% @comments.each do |comment| %>
      <li>
        <p>
          <span class="fa fa-comments">&nbsp;</span>
          <%= comment.username %> @ <%= comment.created_at %>
        </p>

        <div class="well well-xs">
          <%= comment.content %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>